.fonteseg{
    color: #fff;
    
}

ion-title{
    font-family: 'My Custom Font';
  }

.margin{
    margin:20px;
}

ion-card{
    position:relative;
    width: 150px;
    height: 150px;
    background: #fff;
    margin:0 auto;
}

.img{
    width: auto;
	height: 100%;
}

.div{
    height: 245px;
    width: auto;
    position: relative;
    overflow: hidden;
}