.cor-fonte{
    color: #fff;
}

.tipoBebida{
    color: #fff;
    font-size: 12px;
}

.tipoTamanho{
    height:20px;
}

ion-title{
    font-family: 'My Custom Font';
  }

.img{
    width: auto;
	height: 100%;
}

.div{
    height: 245px;
    width: auto;
    position: relative;
    overflow: hidden;
}

.espaco-esquerda{
    margin-left: 15px;
}

h6{
    text-align: center;
    font-weight: bolder;
    font-size: large;
}