<ion-header>
  <ion-toolbar color="laranja">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <h3 class="espaco-esquerda">
        <ion-icon routerLink="/carrinho" class="icon" name="calculator"></ion-icon>
      </h3>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ bar.nomeBar }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">
  <div class="div">
    <img class="img" [src]="bar.imagem">
  </div>


  <!--Dados do BAR-->
  <ion-list color="fundo">
    <ion-item color="fundo">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label [innerHtml]="'R. ' + bar.rua + ' Nº. '+ bar.numero + ' - ' + bar.bairro"></ion-label>
    </ion-item>
    <ion-item color="fundo">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label [innerHtml]="bar.telefone"></ion-label>
    </ion-item>
    <ion-item color="fundo">
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label [innerHtml]="bar.horario"></ion-label>
    </ion-item>
  </ion-list>
  <!--Fim dados BAR-->


  <!--inicio do tipo de produto -->
  <ion-segment [(ngModel)]="segmento" color="laranja" scrollable>
    <ion-segment-button *ngFor="let cat of categorias " value="{{cat.nomeCat}}">
      <ion-label class="cor-fonte">{{cat.nomeCat}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!--Fim do tipo de produto-->


  <!-- Tipo de Bebidas -->
  <ion-segment *ngIf="segmento === 'Bebidas'" [(ngModel)]="segmentoTipo" color="laranja" scrollable>
    <ion-segment-button *ngFor="let sub of subcats" value="{{sub.subCategoria}}">
      <ion-label class="tipoBebida">{{sub.subCategoria}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!-- Fim Tipo de Bebidas -->

  <div [ngSwitch]="segmentoTipo">

    <div *ngFor="let sub of subcats">
      <ion-list color="fundo" *ngSwitchCase="sub.subCategoria">
        <div *ngFor="let prod of prods">
          <ion-item-sliding color="fundo" *ngIf="(prod.nomeBar === bar.nomeBar) && (prod.subCategoria == sub.subCategoria)">
            <ion-item button [routerLink]="['/comparar', prod.id]" color="fundo">
              <ion-thumbnail slot="start">
                <img [src]="prod.imagem">
              </ion-thumbnail>
              <ion-label>
                {{ prod.nome }}
              </ion-label>
              <ion-badge color="laranja">{{ prod.valor | currency: 'BRL' }}</ion-badge>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option (click)="addCarrinhoToast(prod)" color="light">
                <h3>
                  <ion-icon slot="start" name="calculator"></ion-icon>
                </h3>
                Calculadora
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>
    </div>

  </div>

  <div [ngSwitch]="segmento">

    <div *ngFor="let cat of categorias">
      <ion-list color="fundo" *ngSwitchCase="cat.nomeCat">
        <div *ngFor="let prod of prods">
          <ion-item-sliding color="fundo" *ngIf="(prod.nomeBar === bar.nomeBar) && (prod.nomeCat == cat.nomeCat)">
            <ion-item button [routerLink]="['/comparar', prod.id]" color="fundo">
              <ion-thumbnail slot="start">
                <img [src]="prod.imagem">
              </ion-thumbnail>
              <ion-label>
                {{ prod.nome }}
              </ion-label>
              <ion-badge color="laranja">{{ prod.valor | currency: 'BRL' }}</ion-badge>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option (click)="addCarrinhoToast(prod)" color="light">
                <h3>
                  <ion-icon slot="start" name="calculator"></ion-icon>
                </h3>
                Calculadora
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>
    </div>
    
  </div>

</ion-content>